<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>everysight.backend.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/places</url-pattern>
		<url-pattern>/directions</url-pattern>
		<html-file>DirectionsAPI.html</html-file>
    </servlet-mapping>
   <welcome-file-list>
        <welcome-file>DirectionsAPI.html</welcome-file>
    </welcome-file-list>
</web-app>